.header__container {
 display: grid;
 grid-template-columns: 100px 1fr 100px 100px;
 background-color: rgb(24, 160, 24);
 height: 85px;
 color: white;
 padding: 15px;
 align-items: center;
}

.header__logo-svg {
    max-height: 50px;
}

.header__avatar-user-svg {
    height: 35px;
}

.header__avatar{
    width: fit-content;
    background: white;
    border-radius: 50%;
    padding: 5px;
}
