.content__wrapper {
    background-image: url('./background-content/wellness-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 105px);
    min-width: 350px;
}

.content__wrapper--no-background {
    background-image: none;
}