.footer {
  background-color:#4AA96C;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 2px solid #4AA96C;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform:uppercase;
  font-weight: 16px;
  letter-spacing: 1px;
  color: #00a19d;
  text-align: center;
  transition: all 0.2s;
  margin: 20px;
  flex: 1;
  height: 40px;
}

.btn:hover {
  color: #ffffff;
  background-color: #4AA96C;
  opacity: 0.3;
}
