@import '../../variables.scss';

.header__container {
  display: grid;
  grid-template-columns: 101px 1fr max-content max-content;
  grid-column-gap: 10px;
  background-color: rgb(24, 140, 24);
  min-height: 75px;
  color: white;
  font-weight: bold;
  padding: 15px;
  align-items: center;
  justify-content: center;
  min-width: 350px;
}

.header__logo-svg {
  max-height: 65px;
}

.header__welcome {
  grid-column: 2;
  padding-left: 20px;
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;

  @media (min-width: $md) {
  font-size: 33px;
  }
}

.header__avatar-button {
  width: 120px;
}

.header__button-signup {
  grid-column: 3;
}

.header__button-login {
  grid-column: 4;
}

.header__avatar-user-svg {
  height: 30px;
}

.header__login-signup-buttons {
 
  display: none;

  @media (min-width: $lg) {
    grid-column: 3;
    display: flex;
    column-gap: 10px;
  }
}

.header__navigation {
  display: none;

  @media (min-width: $lg) {
    display: flex;
    column-gap: 10px;
   }
}

.header__profile {
  display: none;
 
  @media (min-width: $lg) {
    display: block;
   }
}

.nav__button{
  text-decoration: none;
}

.header-drawer-container .MuiPaper-root {
  width: 80vw;

  @media (min-width: $md) {
    width: 400px;
   }
}

.header-drawer-menu-icon {
  @media (min-width: $lg) {
   display: none;
  }
}